body{
    margin: 0px 0px 0px 0px;
    background-color: rgb(247, 247, 239);
    font-family: myFirstFont;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: beige;
    padding-left: 3vw;
    padding-right: 3vw;
}

@font-face {
    font-family: myFirstFont;
    src: url(Exo_2/Exo2-VariableFont_wght.ttf);
}
#logo{
    height: 10vh;
    width: auto;
}
.left, .right{
    display: flex;
    align-items: center;
}
.titlu{
    font-size: 40px;
    margin-left: 10vw;
    margin-top: 10vh;
}
#contact{
    margin-top: 10vh;
    margin-left: 10vw;
    font-size: 25px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    overflow: hidden;
    font-size: 20px;
}

.menu {
    list-style-type: none;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color:beige;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
form{
    margin-top: 10vh;
    margin-left: 10vw;
    font-size: 20px;
}
input[type=text]{
    width: 20%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 20px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}
#info{
    width: 30vw;
}